body {
  /* font-size: 15px; */
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

body.dark {
  background-color: #1b1b1b;
}

body.light {
  background-color: white;
}

label.dark {
  color: #FAF9F6;
}

label.light {
  color: 1b1b1b;
}

.savior-main.dark {
  color: #FAF9F6;
}

.savior-main.light {
  color: #1b1b1b;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*margin-top allows the Light/Dark mode label to be visible*/
label {
  margin-top: 50px;
}

header {
  width: 100%;
  height: 4rem;
  margin-top: -20px;

  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 2rem;

  position: fixed;
}

header.light {
  /* background: radial-gradient(ellipse at top, #05D6D9, transparent),
  radial-gradient(ellipse at bottom, #F9EA8F, transparent); */
  background: linear-gradient(to bottom, #05D6D9, transparent),
  radial-gradient(ellipse at center, #F9EA8F, transparent);
}

header.dark {
  /* background: radial-gradient(ellipse at top, #FE5858, transparent),
  radial-gradient(ellipse at bottom, transparent, #EE9617); */
  background: linear-gradient(to bottom, #FE5858, transparent),
  radial-gradient(ellipse at center, #EE9617, transparent);
}

header > nav {
  margin: 0;
  padding: 0 3rem 0 0 ;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

span > div {
  display:  flex;
  flex-direction:  column;
}

/* Styling for single quote on character pages */
q {
  grid-column: 2 / span 2;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  padding: 1rem;
}

/* hr {
  border-top: 5px solid red;
} */

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; 
  line-height: 2;
}

tr {
  border: 1px solid gray;
}

th, td {
  border: 1px solid gray;
}

td {
  text-align: center;
}

footer {
  width: 100%;
  border-top: solid black 1px;
  text-align: center;
  background-color: bisque;

  margin-top: 1.8rem;
}

.logo {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

  padding-left: 3rem;
}

.character-container {
  display: grid;
  justify-items: center;
  margin-bottom: 1rem;
}

.responsive {
  height: auto;
}

.grid-card {
  padding: 5px;
}

.name-css {
  background-color: green;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.section {
  grid-column: span 3;
  margin-top: 0.5rem;
}

.section > h2 {
  padding: 1rem 0 0 0;
  margin: 0;
  border-bottom: 1px solid #a2a9b1;
  overflow: hidden;
}

.wrapper {
  width: 85%;
}

@media (max-width: 650px), 
(min-resolution: 124.8dpi) {
  .character-container {
    width: 88%;
    margin: auto;
    grid-template-columns: 50% 50%;
  }

  .responsive {
    max-width: 100%;
  }

  .logo {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.33em;
    padding-left: 0;
  }

  .name-css {
    font-size: 1.2em;
  }

  .wrapper {
    width: 100%;
  }
}

@media (min-width: 650px) {
  .character-container {
    width: 92%;
    margin: auto;
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 950px) {
  .logo {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.33em;
    padding-left: 0;
  }
  .responsive {
    width: 100%;
    max-width: 250px;
  }
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;

    height: 4rem;
    margin-top: 0;
  }
  header > nav {
    margin: 0;
    padding: 0;
    gap: 10px;
    margin-bottom: 0.33em;
  }
  li a{
    margin: 0.2rem 0 0.5rem 0;
    padding: 0 0.5rem 0 0.5rem ;
  }

  label {
    margin-top: 70px;
  }
}

@media (min-width: 950px) {
  .character-container {
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .responsive {
    width: 100%;
    max-width: 300px;
  }
  .wrapper {
    width: 85%;
  }
}

@media (min-width: 1300px) {
  .character-container {
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .responsive {
    width: 100%;
    max-width: 250px;
  }

  .wrapper {
    width: 95%;
  }
}

