/*Wow this is a CSS sheet*/

:root {
  --dark-background: #00aaff;
  --light-bacgkround: white;
}

body.dark {
  background-color: #00aaff;
}

body.light {
  background-color: white;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-container {
  display: grid;
  justify-items: center;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.responsive {
  height: auto;
}

@media (min-width: 728px) {
  .character-container {
    width: 85%;
    margin: auto;
    grid-template-columns: 33% 33% 33%;
  }
  .responsive {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 728px), 
(min-resolution: 124.8dpi) {
  .character-container {
    grid-template-columns: 50% 50%;
  }
  .responsive {
    max-width: 100%;
  }
}

.grid-card {
  display:  flex;
  flex-direction:  column;
  padding: 0.25rem;
}


.name-css {
  background-color: green;
  margin-bottom: 0;
}

span > h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
