/*Wow this is a CSS sheet*/

:root {
  --dark-background: #00aaff;
  --light-bacgkround: white;
}

body.dark {
  background-color: #00aaff;
}

body.light {
  background-color: white;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 50px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  position: fixed;
  background-color: yellowgreen;
}

.site-title {
  padding-left: 1rem;
}

.character-container {
  display: grid;
  justify-items: center;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.responsive {
  height: auto;
}

.grid-card {
  display:  flex;
  flex-direction:  column;
  padding: 0.25rem;
}

header > ul {
  margin: 0;
  padding: 0 20px 0 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

span > h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 650px), 
(min-resolution: 124.8dpi) {
  .character-container {
    width: 88%;
    margin: auto;
    grid-template-columns: 50% 50%;
  }

  .responsive {
    max-width: 100%;
  }

  .site-title {
    font-size: 1.5em;
    margin-top: 0.33em;
    margin-bottom: 0.33em;
    padding-left: 0;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header > ul {
    margin: 0;
    padding: 0;
    gap: 10px;
  }
  h4 {
    margin: 0.2rem 0 0.5rem 0;
    padding: 0;
  }
}

@media (min-width: 650px) {
  .character-container {
    width: 92%;
    margin: auto;
    grid-template-columns: 33% 33% 33%;
  }
  .responsive {
    width: 100%;
    max-width: 250px;
  }
}

@media (min-width: 850px) {
  .character-container {
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .responsive {
    width: 100%;
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  .character-container {
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .responsive {
    width: 100%;
    max-width: 250px;
  }
}


.name-css {
  background-color: green;
  margin-bottom: 0;
}
