.character-main.dark {
    color: #FAF9F6;
  }
  
.character-main.light {
    color: #1b1b1b;
}

/* Styling for single quote on character pages */
q {
    grid-column: 2 / span 2;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    padding: 1rem;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; 
  line-height: 2;
}

tr {
  border: 1px solid gray;
}

th, td {
  border: 1px solid gray;
}

td {
  text-align: center;
}

.character-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr auto;

  margin: auto;
  justify-items: center;
  padding: 0.5rem;
}
  
.character-title {
  grid-column: 1 / span 3;
  text-align: center;
  padding-bottom: 1rem;
}
  
.character-title > h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
  
.character-title > i {
  font-size: 1.5rem;
  margin-top: -0.5rem;
}
  
.character-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
  
.character-img-wrapper {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.profile-table {
  grid-column: 2 / span 2;
}

.character-title > h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.character-title > i {
  font-size: 1.5rem;
  margin-top: -0.5rem;
}

.character-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.character-img-wrapper {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.profile-table {
  grid-column: 2 / span 2;
}

section {
  grid-column: span 3;
  width: 100%;
  margin-top: 0.5rem;
}

section > h2, main > h2 {
  padding: 1rem 0 0 0;
  margin: 0;
  border-bottom: 1px solid #a2a9b1;
  overflow: hidden;
}

.character-title {
  grid-column: 1 / span 3;
  text-align: center;
  padding-bottom: 1rem;
}

@media (max-width: 650px), 
(min-resolution: 124.8dpi) {
  .character-container {
    width: 88%;
    margin: auto;
    grid-template-columns: 50% 50%;
  }

  .responsive {
    max-width: 100%;
  }

  .logo {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.33em;
    padding-left: 0;
  }

  .name-css {
    font-size: 1.2em;
  }

  .wrapper {
    width: 100%;
  }

  .character-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}

@media (max-width: 650px), 
(min-resolution: 124.8dpi) {
  .character-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 950px) {
    .character-main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    main > h1 {
      text-align: center;
    }
}

@media (min-width: 950px) {
  .character-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 200px 350px;
  }
  .character-img-wrapper {
    grid-column: 1 / span 1;
    min-width: 350px;
  }

  table {
    line-height: 1.75;
  }

  q {
    align-self: center;
  }
}

@media (min-width: 1300px) {
  .character-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 237px 437px;
  }
  .character-img-wrapper {
    grid-column: 1 / span 1;
    min-width: 450px;
  }
}
