---
import '../styles/global.css';
import Head from '../components/Head.astro';
const {title} = Astro.props;
---
<!DOCTYPE html>
<html>
<Head title={title}>
</Head>
<body class="light" onload="checkDarkMode()">
  <header class="light" id="header">
    <div class="logo"><a href="/">Kakaiba Style</a></div>
    <nav>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <label class="light"><input name="privacy" type="checkbox" id="dark-mode-checkbox" onchange="changeDarkMode()">Dark Mode</label>
  <div class="wrapper">
    <slot />
  </div>
  <footer>Created by JayloPC</footer>
  <script is:inline src="../../js/main.js"></script>
</body>
</html>