---
import '../styles/global.css';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kakaiba Style</title>
</head>
<body class="light" onload="checkDarkMode()">
  <header class="light" id="header">
    <div class="logo"><a href="/">Kakaiba Style</a></div>
    <nav>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <label class="light"><input name="privacy" type="checkbox" id="dark-mode-checkbox" onchange="changeDarkMode()">Dark Mode</label>
  <div class="wrapper">
    <slot />
  </div>
  <footer>Created by JayloPC</footer>
  <script is:inline src="../../js/main.js"></script>
</body>
</html>